/__history
/Win32
*.dcu
*.rsm
Scr2AnimGIF.~dsk
ffmpeg.exe
*.gif
*.mp4
*.scr
*.wav
*.bin
Scr2AnimGIF.exe
desktop.ini
Scr2AnimGIF.dproj
Scr2AnimGIF.dproj.local
Scr2AnimGIF.dsk
Scr2AnimGIF.stat
Scr2AnimGIF.dproj
Scr2AnimGIF.dproj.local
Scr2AnimGIF.dsk
Scr2AnimGIF.stat
